$dark-green: #272D2D;
$pop-green: #23CE6B;
$background: #EDF5FC;
$white: #FFFFFF;

body {
  font-family: 'Oswald';
  background-color: $background
}

i {
  color: $white;
}

.flash {
  margin-top: 20px;
  font-size: 24px;
  color: #FF0000;
}

.index-div {
  display: inline-block;
  margin: 20px 10px;
}

.index-img {
  position: relative;
  width: 350px;
  height: 250px;
  border: 5px solid #fff;
  outline: 1px solid #ccc;
}

.image-tile {
  position: relative;
  display: inline-flex;
  margin: 8px;
  transition: .2s;
  z-index: 2;
}

.image-tile:hover {
  transform: scale(1.1);
  transition: .2s;
  z-index: 30;

  .index-image-text {
    background-color: $pop-green;
    transition: .3s;
  }
}

.course-title-text, .course-title-text a {
  margin: auto;
}

.index-image-text {
  position: absolute;
  z-index: 3;
  display: flex;
  color: $white;
  font-size: 20px;
  background-color: $pop-green;
  text-shadow: 1px 1px black;
  box-shadow: inset 0 0 5px black;
  top: 180px;
  left: -10px;
  width: 250.5px;
  height: 50px;
}

.index-image-text:before {
  height: 0;
  width: 0;
  top: -8.5px;
  left: 0.1px;
  border-bottom: 9px solid black;
  border-left: 9px solid transparent;
}

.index-image-text:before, .index-image-text:after {
  content: "";
  position: absolute;
}

.index-image-text:after {
  height: 0;
  width: 0;
  right: -14.5px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.search-bar {
  margin-top: 20px;
  margin-bottom: -30px;
}

.search {
  width: 25%;
  margin: 0px auto;
}

.search-button-group {
  margin: 10px auto;
  display: block;
  width: 60%;

  .button {
    margin: 0px 5px 20px 5px;
    border-radius: 0px;
    box-shadow: inset 0 0 3px black;
  }
}
