$dark-green: #272D2D;
$pop-green: #23CE6B;
$background: #EDF5FC;
$white: #FFFFFF;

.top-bar {
  width: 100%;
  a {
    color: $white;
  }
  a:hover {
    color: $white;
  }
  .button {
    background-color: $dark-green;
    color: $white;
    border-radius: 0px;
    font-family: "Oswald";
    a {
      background-color: inherit;
      color: inherit;
      font-family: inherit;
    }
  }
}

.top-bar button:hover {
  color: $dark-green;
  background-color: $white
}

.right {
  padding-right: 50px;
}

.left {
  padding-left: 50px;
}

.top-bar .button {
  margin: 10px;
  border: 1px solid $white;
}
